table{
    border-collapse: collapse;
    background: green;
    text-align: center;
}

td.enabled{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    background-color: indianred;

}
td.disabled{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    pointer-events: none;

}
#reversi{
    display: table;
    vertical-align: middle;
    margin: auto;
}
#text{
    text-align: center;
}

#circle {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 17px;
    margin: auto;
}

#table-count{
    width: 100%;
    padding: 5px;
}

.text{
    text-align: center;
}

#end-restart-game{
    margin-top: 20px;
}

#restart-game{
    float: right;
}

#details{
    width: 30%;
    margin: 20px auto;
    padding: 20px;
}

.loader {
    display: none;
    margin: 0 auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid blue;
    border-right: 10px solid green;
    border-bottom: 10px solid red;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#player_b,#player_w{
    padding: 10px;
    display: inline-block;
}

#count{
    padding-top: 10px;
}