#details{
    width: 30%;
    margin: 20px auto;
    padding: 20px;
}

.loader {
    display: none;
    margin: 0 auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid blue;
    border-right: 10px solid green;
    border-bottom: 10px solid red;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}